<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAO58_DAiz9MOrQQhuRzwe3jnL5F-4dOaE</string>
	<key>GCM_SENDER_ID</key>
	<string>789495285905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wtf.dmg77.FList</string>
	<key>PROJECT_ID</key>
	<string>to-do-swift</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-swift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789495285905:ios:e6384fdb3e52286ea8d730</string>
</dict>
</plist>